.conditions{
    width: 100%;
    height: auto;
    margin-top: 40px;
    &__title{
        font-weight: bold;
        font-size: 43px;
        line-height: 55px;
        color: #000000;
    }
    &__wrapper{
        width: 100%;
        margin-top: 80px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }
}

@media (max-width: 1000px){
    .conditions{
        margin-top: 100px;
    }
}

@media (max-width: 500px){
    .conditions{
        &__title{
            font-size: 39px;
        }
    }
}