.doc-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
    margin-top: 150px;
    &__content{
        max-width: 794px;
    }
}

@media (max-width:1000px ){
    .doc-page{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__content{
            max-width: 90%;
        }
    }
}