.wrapper{
    width: 100%;
    background: #000000;
    padding-top: 60px;
    padding-bottom: 40px;
}

.blockText{
    display: flex;
    flex-direction: column;
}

.subtitle{
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;

    margin-top: 16px;
}



.content{
    display: grid;
    grid-template-columns: 1fr 460px;
    column-gap: 7em;
}

.form{
    display: grid;
    grid-template-rows: repeat(5, auto);
    row-gap: 24px;
}
.form input{
    width: 100%;
    height: 56px;

    background: #FFFFFF;

    border: 1px solid #C8C8C8;
    border-radius: 8px;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;

    color: #919191;
    padding-left: 20px;
}

.form input[type='checkbox']{
    accent-color: #FFD335;
    width: 18px;
    height: 18px;
}

.blockCheckbox{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 18px auto;
    column-gap: 11px;
}

.blockCheckbox span{

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */

    display: flex;
    align-items: center;


    color: #F8F8F8;
}

.btn{
    background: #FFD335;
    border-radius: 8px;
    border: 1px solid #FFD335;
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    height: 56px;
    margin-top: 16px;
    cursor: pointer;
    transition: all 0.7s;
    overflow: hidden;

    color: #02136A;
}

.btn:hover {
	color: #FFD335;
	z-index: 0;
	border: 2px solid #FFD335;
}
.btn span{
	transition: all 0.7s;
    z-index: -1;
}

.btn .first {
        content: "";
        position: absolute;
        right: 100%;
        top: 0;
        width: 25%;
        height: 100%;
        background:  #FFF;
      }

.btn:hover .first {
        top: 0;
        right: 0;
      }
.btn .second {
        content: "";
        position: absolute;
        left: 25%;
        top: -100%;
        height: 100%;
        width: 25%;
        background:#FFF;
      }

.btn:hover .second {
    top: 0;
    left: 50%;
    }

.btn .third {
    content: "";
    position: absolute;
    left: 50%;
    height: 100%;
    top: 100%;
    width: 25%;
    background: #FFF;
}

.btn:hover .third {
     top: 0;
     left: 25%;
    }

.btn .fourth {
	content: "";
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 25%;
    background: #FFF;
    }

.btn:hover .fourth {
    top: 0;
    left: 0;
    }



@media (max-width: 1150px){
    .title{
        font-size: 32px;
        line-height: 40px;
    }

    .subtitle{
        font-size: 16px;
        line-height: 24px
    }

    .blockText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    .content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2em;
    }

}

@media (max-width: 740px){
    .content{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        row-gap: 40px;
    }


}