.h1 {
	color: var(--black);

	font-size: 60px;
	font-weight: bold;
	line-height: 72px;
}

.h2 {
	color: #141414;

	font-size: 40px;
	font-weight: bold;
	line-height: 48px;
}

.h3 {
	color: var(--black);

	font-size: 24px;
	font-weight: 600;
	font-style: normal;
	line-height: 28px;
}

.h1,
.h2,
.h3 {
	transition: all 0.2s;
	margin: 0;
}

.white {
	color: var(--white);
}

@media (max-width: 800px) {
	.h1 {
		font-size: 32px;
		line-height: 36px;
	}

	.h2 {
		font-size: 24px;
		line-height: 28px;
	}

	.h3 {
		font-size: 20px;
		line-height: 24px;
	}
}
