.howToRepay {
	margin-top: 100px;
}

.titleBlock {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	width: 100%;
	height: auto;
}

.wrapper {
	display: grid;

	width: 100%;
	height: auto;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 24px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;


}

.blockImg {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	min-height: 200px;

	background: #F1F1F1;
}

.blockImg1 {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-end;

	width: 100%;
	min-height: 200px;

	background: #F1F1F1;
}

.blockImg2{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-end;

	width: 100%;
	min-height: 200px;

	background: #F1F1F1;
}

.blockImgCards{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-end;

	width: 100%;
	min-height: 200px;

	background: #F1F1F1;
}

.blockImgCards img{
	width: 100%;
}

.blockContent {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	margin-top: 10px;
	height: 100%;
}

.blockContent span {
	color: var(--black);

	font-size: 28px;
	font-weight: 600;

	font-style: normal;
	line-height: 32px;
	margin-bottom: 16px;
}

.blockContent li {
	color: var(--light-black);

	font-size: 20px;
	font-weight: normal;

	font-style: normal;
	line-height: 24px;
}

.blockContent ul > li{
	margin-top: 16px;
}

.title{
	margin-bottom: 40px;
}

@media (max-width: 1200px) {
	.wrapper {
		display: grid;

		width: 100%;
		height: auto;
		grid-template-columns: repeat(2,1fr);
		column-gap: 24px;
	}

	.phone {
		width: 120px;
	}

	.bank {
		width: 170px;
	}

	.blockContent span {
		color: var(--black);

		font-size: 20px;
		line-height: 24px;
	}

	.blockContent li {
		font-size: 14px;
		line-height: 20px;
	}
}

@media(max-width:800px){
	.howToRepay {
		margin-top: 40px;
	}
}

@media (max-width: 620px) {
	.wrapper {
		display: grid;

		width: 100%;
		height: auto;
		grid-template-columns: 1fr;
		column-gap: 24px;
	}
}

@media(max-width: 500px){
	.titleBlock{
		justify-content: center;
	}
}
