.wrapper{
    background: var(--gray);
    padding-bottom: 80px;
}

.brends{
    width: 100%;
    height: auto; 
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none;
}

.wrapperTitle{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 0;
}

.slider{
     width: 100%;
     height: auto;
     display: grid;
     grid-template-columns: repeat(6,auto);
     column-gap: 24px;
}



.brendsItem{
    box-shadow: 0px 0px 16px rgba(12, 74, 119, 0.16);
    border-radius: 4px;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
    display: flex;
    width: 200px !important;
    height: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;  
}



.brendsItem0{
     background: url('/business/1.png') no-repeat center;
}
.brendsItem0:hover,
.brendsItem0:focus{
     background: url('/business/11.png') no-repeat center;
}

.brendsItem1{
     background: url('/business/2.png') no-repeat center;
}

.brendsItem1:hover,
.brendsItem1:focus {
     background: url('/business/22.png') no-repeat center;
}

.brendsItem2{
     background: url('/business/3.png') no-repeat center;
}

.brendsItem2:hover,
.brendsItem2:focus{
     background: url('/business/33.png') no-repeat center;
}

.brendsItem3{
     background: url('/business/4.png') no-repeat center;
}

.brendsItem3:hover,
.brendsItem3:focus{
     background: url('/business/44.png') no-repeat center;
}

.brendsItem4{
     background: url('/business/5.png') no-repeat center;
}

.brendsItem4:hover,
.brendsItem4:focus{
     background: url('/business/55.png') no-repeat center;
}

.brendsItem5{
     background: url('/business/6.png') no-repeat center;
}

.brendsItem5:hover,
.brendsItem5:focus{
     background: url('/business/66.png') no-repeat center;
}




@media(max-width: 1400px){

     .brendsItem{

    width: 106px !important;
    height: 70px !important;

}
     .brendsItem0{
     background: url('/business/1small.png') no-repeat center;
}
.brendsItem0:hover,
.brendsItem0:focus{
     background: url('/business/11small.png') no-repeat center;
}

.brendsItem1{
     background: url('/business/2small.png') no-repeat center;
}

.brendsItem1:hover,
.brendsItem1:focus{
     background: url('/business/22small.png') no-repeat center;
}

.brendsItem2{
     background: url('/business/3small.png') no-repeat center;
}

.brendsItem2:hover,
.brendsItem2:focus{
     background: url('/business/33small.png') no-repeat center;
}

.brendsItem3{
     background: url('/business/4small.png') no-repeat center;
}

.brendsItem3:hover,
.brendsItem3:focus{
     background: url('/business/44small.png') no-repeat center;
}

.brendsItem4{
     background: url('/business/5small.png') no-repeat center;
}

.brendsItem4:hover,
.brendsItem4:focus{
     background: url('/business/55small.png') no-repeat center;
}

.brendsItem5{
     background: url('/business/6small.png') no-repeat center;
}

.brendsItem5:hover,
.brendsItem5:focus{
     background: url('/business/66small.png') no-repeat center;
}
}

@media (max-width: 800px){
     .slider{
          overflow-x: scroll;
          overflow-y: hidden;
     }
}






