.question {
	display: grid;

	width: 100%;
	height: auto;
	padding: 5px 5px 25px 5px;

	border-bottom: 1px solid #C8C8C8;
	grid-template-columns: 1fr auto;
	column-gap: 50px;
	cursor: pointer;
}

.content {
	display: flex;
	align-items: flex-start;
	flex-direction: column;

	width: 100%;
	height: auto;
}

.answerBlock {
	text-align: left;
	margin-top: 16px;
}

.answerBlock p {
	color: var(--light-black);
	white-space: pre-wrap;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	line-height: 24px;
}

.onClick {
	color: #139DAF;
}

.btnOnClick::after {
	content: '-';
}

.btnOffClick::after {
	content: "+";
}

.btn::after {
	cursor: pointer;
	transition: all 0.2s;

	color: var(--dark-primary);

	font-size: 40px;
}
