.docItem {
	display: flex;
	align-items: center;
	flex-direction: row;

	width: 100%;
	height: auto;
	margin-bottom: 15px;

	cursor: pointer;
}

.docItem a {
	width: 70%;
	margin-left: 15px;

	text-align: left;
	text-decoration: none;

	color: black;
}

.docIcon svg {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.fileName {
	width: 100%;
}
