.btn {




	 	border: none;
        padding: 20px;
        font-size: 20px;
        position: relative;
        background: var(--brich);

        color: var(--white);
		border: 1px solid var(--brich);

        cursor: pointer;
        transition: all 0.7s;
        overflow: hidden;
        border-radius: 6px;
}

.primary {
	border: 1px solid var(--dark-primary);
	background: var(--dark-primary);
}

.yellow{
	background: #FFD335;
	color: var(--black);
	border: 1px solid #FFD335;
}

.sm {
	font-size: 14px;
	padding: 10px;
}
