.installment {
	margin-top: 100px;
	padding-top: 100px;
	padding-bottom: 100px;
	background: var(--white);
}

.wrapper {
	display: grid;

	width: 100%;
	height: auto;

	margin-top: 100px;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 24px;
}

.h1{
	margin: 16px 0;
}

.img{
	height: 115px;
}



.card {
	display: grid;

	height: 304px;
	grid-template-rows: auto 1fr;
}

.card span {
	text-align: left;

	color: var(--light-black);

	font-size: 20px;
	font-weight: normal;

	font-style: normal;
	line-height: 26px;
}

@media (max-width: 1300px) {
	.wrapper {
		grid-template-columns: 1fr;
		row-gap: 50px;
	}
	.installment {
		margin-top: 100px;
	}

	.h1 {
		margin: 0;
	}

	.card {
		display: grid;

		height: auto;
		grid-template-columns: auto 1fr;
		column-gap: 20px;
	}

	.text {
		display: grid;
		grid-template-rows: auto auto;
		row-gap: 10px;
	
	}

	.img {
		height: 120px;
	}
}

@media (max-width: 500px) {
	.text {
		display: grid;
		grid-template-rows: auto;
		row-gap: 10px;
	}
	.blockTitle{
		text-align: center;
	}

	.card {
		display: grid;

		height: auto;
		grid-template-columns: 1fr;
		row-gap: 15px;
	}
}

@media (max-width: 400px) {
	.img {
		height: 64px;
	}
}
