.wrapper{
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background:  #ffffff;
}

.wrapperContent{
    margin-top: 50px;
    padding: 40px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: repeat(5,120px);
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.blockMonth{
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #E1E1E1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.month{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spanMonth{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: #6E6E6E;
}

.blockJacket{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: 1px solid #E1E1E1;
}

.blockExample{
    grid-column-start: span 2;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.jacketContent{
    grid-column-start: span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 72px;
    background: #DAF0EE;
    border-radius: 10px;
    align-self: center;
}

.jacketContent span{
    align-self: center;
    justify-self: center;
}

.exampleContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.blockSneacker{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    border-bottom: 1px solid #E1E1E1;
}

.exampleTitle{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;

    color: #02136A;
}

.exampleTotal{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;

    color: #404040;
}

.exampleSneakers{
    grid-column-start: 3;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 25px;

}

.exampleContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sneakersContent{
    grid-column-start: 5;
    grid-column-end: 8;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    height: 72px;
    background: #DAF0EE;
    border-radius: 10px;
}

.sneakersContent span{
    align-self: center;
    justify-self: center;
}

.blockRemainder{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;

}

.blockTitle{
    grid-column-start: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.remainderContent{
    grid-column-start: span 5;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 72px;
    background: #139DAF;
    border-radius: 10px;
}

.span{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;

    color: #000000;
}

.remainderContent span{
    align-self: center;
    justify-self: center;
    color: #FFFFFF;
}

.totalAmount{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.totalAmount span{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

.jaket{
    width: 120px;
    height: 120px;
}

.contentMobile{
    display: none;
}



@media (max-width: 1100px){
    .exampleSneakers{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .span,
    .exampleTitle,
    .exampleTotal
  
    {
        font-size: 16px;
    }

    .spanMonth{
        font-size: 14px;
    }

    .sneakers{
        width: 48px;
        height: 48px;
    }

    .jaket{
        width: 48px;
        height: 48px;
    }
}

@media (max-width: 800px){
    .wrapper{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media(max-width: 710px){
    .wrapperContent{
        display: none;
    }
    .contentMobile{
        margin-top: 40px;
        display: grid;
        grid-template-rows: repeat(3,auto);
    }
    .mobileTitle{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-items: center;
    }

    .mobileT{
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;

        color: #000000;
    }

    .mobileTitle div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobileContent{
        display: grid;
        border-top: 1px solid #C8C8C8;
        border-bottom: 1px solid #C8C8C8; 
        padding: 16px 0px;
        grid-template-columns: repeat(4, 1fr);
    }

    .mobileMonth{
        display: grid;
        grid-template-rows: repeat(5, 1fr);
         row-gap: 16px;
    }

    .mobileJaket{
        display: grid;
        grid-template-rows: repeat(5, 1fr);
      
        justify-items: center;
    }
    .mobileJaketContent{
        display: grid;
        width: 50px;
        background: #DAF0EE;
        border-radius: 8px;
        grid-row-start: span 3;
        grid-template-rows: repeat(3, 1fr);
        
        justify-items: center;
        align-items: center;
    }

    .mobileSneacker{
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        justify-items: center;
    }

    .mobileSneakersContent{
        grid-row-start: 3;
        grid-row-end: 6;
        width: 50px;
        background: #DAF0EE;
        border-radius: 8px;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
    }

    .mobileRemainder{
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        justify-items: center;
    }

    .mobileMonth2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .mobileRemainderContent{
        display: grid;
        width: 50px;
        grid-row-start: span 5;
        background: #139DAF;
        border-radius: 8px;
        justify-items: center;
        align-items: center;
        grid-template-rows: repeat(5, 1fr);
    }

    .mobileTotal{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 16px;
    }

    .mobileTotal span{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }

    .span{
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
    }
    .span2{
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;

        color: #FFFFFF;
    }

    .exampleTitle{
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;

        color: #02136A;
    }

    .exampleTotal{
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;

        color: #404040;
    }
}

@media(max-width: 500px){
    .title{
        text-align: center;
    }
}