.blockTitle {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	width: 100%;
	height: auto;
}

.condition {
	padding-top: 50px;
	z-index: 5555555;
	background: #fff;
}

.wrapper {
	display: grid;

	width: 100%;
	height: auto;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	column-gap: 24px;
	row-gap: 24px;
}

.title{
	margin-bottom: 40px;
}

.card {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-between;

	width: 100%;
	height: auto;
	padding: 16px;

	border-radius: 8px;

	background: #FFF;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
}

.blockImage {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	width: 200px;
	min-height: 200px;
	max-height: 200px;

	border-radius: 8px 8px 0 0;
	background: #F1F1F1;
}

.blockContent {
	width: 100%;
	height: 100%;

	text-align: left;

	color: var(--light-black);

	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	line-height: 20px;
}

@media(max-width: 1375px){
	.wrapper {
		display: grid;

		width: 100%;
		height: auto;
		grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
		column-gap: 24px;
		row-gap: 24px;
	}

	.card {
		display: grid;
		grid-template-columns: auto 1fr;
		column-gap: 16px;
		width: 100%;
		height: auto;
		padding: 16px;

		border-radius: 8px;

		background: #FFF;
		box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
	}

	.card span{
		margin: auto 0;
	}

}




@media (max-width: 400px) {
	.card {
		display: grid;

		width: 100%;
		height: 80px;
		padding: 8px;
		grid-template-columns: auto 1fr;
		column-gap: 16px;
	}
		.wrapper {
		display: grid;

		width: 100%;
		height: auto;
		grid-template-columns:  1fr;
		column-gap: 24px;
		row-gap: 24px;
	}


	.card span {
		margin-top: auto;
		margin-bottom: auto;
	}
}

@media(max-width: 500px){
	.blockTitle{
		display: flex;
		justify-content: center;
	}
}
