.wrapper{
	background: #EDF8F7;
	width: 100%;
	height: 700px;
}

.wrapperContent{

	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 30px;
}

.btn{
	position: relative;
	cursor: pointer;
    transition: all 0.7s;
    overflow: hidden;
}

.btn:hover {
	color: var(--brich);
	z-index: 0;
	background: transparent;
	border: 1px solid var(--brich);
}
.btn span{
	transition: all 0.7s;
    z-index: -1;
}

.btn .first {
        content: "";
        position: absolute;
        right: 100%;
        top: 0;
        width: 25%;
        height: 100%;
        background: #EDF8F7;
      }

.btn:hover .first {
        top: 0;
        right: 0;
      }
.btn .second {
        content: "";
        position: absolute;
        left: 25%;
        top: -100%;
        height: 100%;
        width: 25%;
        background: #EDF8F7;
      }

.btn:hover .second {
    top: 0;
    left: 50%;
    }

.btn .third {
    content: "";
    position: absolute;
    left: 50%;
    height: 100%;
    top: 100%;
    width: 25%;
    background: #EDF8F7;
}

.btn:hover .third {
     top: 0;
     left: 25%;
    }

.btn .fourth {
	content: "";
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 25%;
    background: #EDF8F7;
    }

.btn:hover .fourth {
    top: 0;
    left: 0;
    }




.subtitle{
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 40px;
	color: #303030;
}

.content{
	display: grid;
	grid-template-rows: repeat(3,auto);
	row-gap: 40px;
	padding-top: 100px;
}

.phone{
	position: absolute;
	bottom: -159px;
	right: 0px;
}

.connect{
	background: #FFD335 !important;
	color: var(--black) !important;
}

.blockImage{
	position: relative;
	width: 100%;
	height: 100%;
}

.mobile{
	display: none;
}

.blockContent{
	z-index: 2;
	background: linear-gradient(180deg, rgba(237, 248, 247, 0) 0%, rgba(204, 233, 230, 0.92) 17.79%, #BAEAE5 55.73%);
}

.topBlock{
	width: 100%;
	height: 100%;
	position: relative;
}


@media(max-width: 1200px){
	.phone{
		width: 322px;
		bottom: -185px;
	}
	.title{
		font-size: 40px;
		font-weight: bold;
		line-height: 48px;
	}

	.subtitle{
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 24px;
		color: #303030;
	}

	.wrapper{
		height: 600px;
	}
}

@media (max-width: 780px){

	.wrapper{
		height: 500px;
	}

	.phone{
		top: 50%;  
		left: 50%; 
		transform: translate(-50%, -96px);
	}

	.mobile{
		display: grid;
		grid-template-rows: 1fr 273px;
		height: 100%;
		width: 100%;
	}

	.wrapperContent{
		display: none;
	}

	.content{
		padding-top: 0px;
		row-gap: 16px;
	}

	.title{
		font-weight: bold;
		font-size: 24px;
		line-height: 28px;
	}

	.subtitle{
		font-weight: normal;
		font-size: 20px;
		line-height: 24px;
	}
}
