.about-app {
    padding: 0 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    margin-top: 150px;

    &__block-img{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    &__phone{
        position: absolute;
        top: 187px;
        right: 133px;;
    }

    &__block-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 500px;
        }

    &__title{
        font-weight: 450;
        font-size: 59px;
        line-height: 53px;
        color: #202020;
    }

    &__description{
        font-weight: normal;
        font-size: 30px;
        line-height: 35px;
        color: #363636;
        text-align: left;
        white-space: pre-wrap;
    }
    &__image-elips{
        position: absolute;
        z-index: -56;
        width: 600px;
        height: 558px;
        top: -23px;
        left: 63px;
        border-radius:50%;
        background: rgba(72, 179, 171, 0.82);
        filter: blur(60px);
    }

    &__block-activity{
        margin-top: 50px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        span{
            margin: -1px 1px 1px -1px;
            line-height: 2px;
            background: #BDB8B8;
            padding: 1.5px;
            float: left;
            margin-left: 15px;
            margin-right: 15px;
            height: 100%;
        }

        button{
            border: none;
            padding: 35px;
            background: linear-gradient(180deg, #48B3AB 0%, #06505D 100%);
            border-radius: 5px;
            font-weight: 450;
            font-size: 24px;
            color: rgba(247, 247, 247, 0.9);
        }
    }
}

@media (max-width: 1400px){
    .about-app{
        &__title{
            font-size: 25px;
        }
        &__description{
            font-size: 20px;
        }

        &__block-activity{
            button{
                font-size: 15px;
            }
        }
        &__block-activity{
            img{
                width: 100px;
            }
        }
        &__phone{
            position: absolute;
            top: 187px;
            right: 5px;
        }
    }
}

@media (max-width: 1200px){
    .about-app{
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        &__block-img{
            margin-top: 50px;
            justify-content: center;
        }
        &__image-elips{
           display: none;
        }
        &__phone{
    
            display: none;
            top: 130px;
            right: 226px
        }
        &__block-activity{
            justify-content: space-around;
            button{
                font-size: 24px;
            }
        }
        &__title{
            font-size: 59px;
        }
        &__description{
            font-size: 30px;
        }
    }
}

@media (max-width: 640px){
    .about-app{
        &__pc{
            width: 100%;
        }
        &__image-elips{
            display: none;
        }
        &__phone{
            display: none;
        }
        &__title{
            font-size: 45px;
        }
        &__description{
            font-size: 20px;
        }
        &__block-activity{
            button{
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 500px){
    .about-app{
        &__title{
            font-size: 39px;
        }
        &__description{
            font-size: 20px;

        }
        &__pc{
            margin-top: 50px;
        }
    }
}