.become-a-partner{
    &__wrapper{
        width: 100%;
        height: 700px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 40px;
        margin-top: 70px;
    }
    &__content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    &__title{
        font-weight: 600;
        font-size: 59px;
        line-height: 55px;
        color: rgba(0, 0, 0, 0.9);
        text-align: left;
    }
    &__description {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: rgba(23, 23, 23, 0.8);
        text-align: left;
        margin-top: 11px;
    }
    &__btn{
        padding: 23px 57px;
        background: linear-gradient(180deg, #48B3AB 0%, rgba(6, 80, 93, 0.95) 100%);
        border-radius: 5px;
        font-weight: 450;
        font-size: 27px;
        line-height: 25px;
        color: #F9F9F9;
        
        border:  none;
        text-decoration: none;
        margin-top: 50px;
    }
    &__btn:hover, &__btn:focus{
        color: #F9F9F9;
        cursor: pointer;
    }
    &__elips{
        position: absolute;
        top: 185px;
        right: 206px;
        width: 500px;
        z-index: 0;
        height: 500px;
        border-radius:50%;
        background: rgba(72, 179, 171, 0.82);
        filter: blur(60px);
    }
    &__blockImg{
        img{
            z-index: 20;
            position: absolute;
            right: 250px;
        }
    }
}
@media (max-width: 1200px){
    .become-a-partner{
        &__wrapper{
            grid-template-columns: repeat(1, 1fr);
        }
        &__blockImg{
            display: none;
        }
    }
}
@media (max-width: 600px){
    .become-a-partner{
        &__title{
            font-size: 33px;  
            line-height: 47px;
        }
    }
}
