.footer {
	padding-top: 60px;
	padding-bottom: 20px;

	background: var(--gray);
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(4, auto);
	column-gap: normal;
}

.links {
	display: flex;
	flex-direction: column;
}
.iconsMobile{
	display: none;
}

.links span {
	margin-bottom: 24px;

	color: var(--black);

	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
}

.links a {
	margin-bottom: 16px;

	cursor: pointer;
	text-decoration: none;

	color: var(--light-black);

	font-size: 16px;
	line-height: 20px;
}

.phones {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}
.downloadBlock{
	display: grid;
	grid-template-columns: 122px 122px;
	
}
.downloadBlock a{
	max-width: 122px;
}

.phones p {
	margin: 0;

	color: var(--light-black);

	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
}

.icons2{
	display: none;
}

.icons {
	display: grid;
	grid-template-columns: repeat(4, 40px);
	column-gap: 16px;
	row-gap: 16px;
	grid-auto-rows: auto;

	margin-top: 24px;
}

.icons a{
	width: 40px;
}

.bottomText {
	display: flex;
	flex-direction: row;

	width: 100%;
	height: auto;
	margin-top: 50px;
}

.bottomText span {
	margin-right: 24px;

	color: #6E6E6E;
	cursor: pointer;
	font-size: 14px;
	line-height: 24px;
}

@media (max-width: 1000px) {
	.wrapper {
		grid-template-columns: repeat(2, auto);
		row-gap: 20px;
	}

	.bottomText {
		display: flex;
		align-items: center;
		flex-direction: column-reverse;
	}

	.bottomText span {
		margin-top: 16px;
	}
}

@media(max-width: 800px){

.downloadBlockWrapper > .icons{
	opacity: 0;
	height: 0;
}

	

	.icons2 {
		display: grid;
		grid-template-columns: repeat(6, 40px);
		column-gap: 16px;
		row-gap: 16px;
		grid-auto-rows: auto;
	
		margin-top: 24px;
	}
	
	.icons2 a{
		width: 32px;
		margin-right: 24px;

	}

}

@media(max-width: 400px){
	.downloadBlockWrapper > .icons{
		opacity: 1;
		height: auto;
	
	}
	.icons2 {
		display: none;
	}
	
}

@media (max-width: 500px) {
	.wrapper {
		grid-template-columns: 1fr;
		row-gap: 20px;
	}
}
