.wrapper{
    background: #FFFFFF;
    padding: 50px 0;

    width: 100%;
    height: auto;
}

.wrapperContent{
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
    display: grid;
    grid-template-columns: repeat(2,50%);
    border-radius: 20px;
}

.blockPhone{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.blockPhone img{
    width: 100%;
    height: 100%;
}

.content{
    width: 100%;
    height: auto;
    padding: 60px;
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 60px;
}

.answers{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: repeat(4, auto);
    row-gap: 40px;
}

.answerItem{
    display: grid;
    grid-template-columns: 48px auto;
    column-gap: 24px;
}


.answerItem div{
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #C8C8C8;
    color: #6E6E6E;
    transition: all 0.7s;
}

.answerItem span{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;

    color: #6E6E6E;
    transition: all 0.7s;
}

.answerItem:hover{
    cursor: pointer;
}

.answerItem:hover div{
    border: 2px solid #6CB8F6;
    color: #6CB8F6;
}

.answerItem:hover span{
    color: #000000;
}


.slider{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}

.h1{
    text-align: center;
}


.card{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 20px;
    
}



.answer{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 32px auto;
    column-gap: 16px;
}

.answerCount{
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #C8C8C8;
    color: #6E6E6E;
}

.text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    min-height: 80px;

    color: #000000;
}

.wrapper{
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 40px;
    margin-right: -24px;
}

@media(max-width: 1200px){
    .slider{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        row-gap: 40px;
    }
}

@media(max-width: 700px){
    .slider{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 40px;
    }
}