
.greetBlock{
	width: 100%;
	background: #EDF8F7;
	height: 700px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
}

.leftBlock{
	height: 100%;
	width: 100%;
}

.blockContent{
	max-width: 670px;
	height: auto;
	display: flex;
	flex-direction: column;
}

.wrapperContent{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.wrapper{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr auto;
}

.title {


	color: var(--black);

	font-size: 88px;
	font-weight: bold;
	font-style: normal;
	line-height: 90px;
}

.subtitle {
	margin: 24px 0;

	color: #404040;

	font-size: 32px;
	font-weight: 600;
	font-style: normal;
	line-height: 40px;
}

.btn{
	        text-transform: uppercase;
}
.btn:hover {
	color: var(--brich);
	z-index: 0;
	border: 1px solid var(--brich);
}
.btn span{
	transition: all 0.7s;
    z-index: -1;
}

.btn .first {
        content: "";
        position: absolute;
        right: 100%;
        top: 0;
        width: 25%;
        height: 100%;
        background: #EDF8F7;
      }

.btn:hover .first {
        top: 0;
        right: 0;
      }
.btn .second {
        content: "";
        position: absolute;
        left: 25%;
        top: -100%;
        height: 100%;
        width: 25%;
        background: #EDF8F7;
      }

.btn:hover .second {
    top: 0;
    left: 50%;
    }

.btn .third {
    content: "";
    position: absolute;
    left: 50%;
    height: 100%;
    top: 100%;
    width: 25%;
    background: #EDF8F7;
}

.btn:hover .third {
     top: 0;
     left: 25%;
    }

.btn .fourth {
	content: "";
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 25%;
    background: #EDF8F7;
    }

.btn:hover .fourth {
    top: 0;
    left: 0;
    }



.rightBlock{
	background-image: url("/Ellipse1.png") ;
	background-repeat: no-repeat;
	background-position: left  bottom;
	position: relative;
}
.female760{
	display: none;
}

.mobile{
	display: none;
}

@media(max-width: 1440px){

	.female{
		display: none;
	}

	.female760{
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
	}

	.blockContent{
		max-width: 100%;
		height: 100%;
		display: grid;
		grid-template-rows: auto auto auto;
		row-gap: 24px;
	}

	.wrapper{
		width: 100%;
		display: grid;
		grid-template-columns: 24px 1fr;
	}
}

@media(max-width:800px){
	.title{
		font-style: normal;
		font-weight: bold;
		font-size: 48px;
		line-height: 48px
	}
	.content{
		position: relative;
		background-image: url("/ellipseTab.png") ;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: left 0px bottom -200px;
		background-position-x: left 0px;
		background-position-y: bottom -200px;
	}

	.subtitle{
		font-style: normal;
		font-weight: 600;
		font-size: 28px;
		line-height: 32px;
	}
	.rightBlock img{ 
		width: 384px;
	}
		.blockContent{
		max-width: 100%;
		height: 100%;
		display: flex;
		
	}

	.greetBlock{
		height: 500px;
	}

	.btn{
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
	}
}



@media(max-width: 500px){
	.greetBlock{
		display: none;
	}
	
	.mobile{
		background: #EDF8F7;
		width: 100%;
		height: 550px;
		display: grid;
		grid-template-rows: 1fr 44px;
	}

	.content{
		position: relative;
		background-image: url("/EllipseMobile.png") ;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: left  bottom -100px;
	}

	.blockText{
		position: absolute;
		width: 100%;
		padding: 49px 24px;
		top: 0;
		display: grid;
		grid-template-rows: auto auto;
	
	}

	.title{
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		line-height: 24px;

		color: #000000;
		word-wrap:break-word;
	}

	.subtitle{
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;

		color: #404040;
	}

	.content img{
		position: absolute;
		left: 50%;
		transform: translate(-50%,0);
		bottom: 0;
	}

	.mobile a{
		width: 100%;
	}
	.btn{
		background: #FFD335;
		border: 1px solid #FFD335;
		height: 44px;
		width: 100%;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 24px;
		color: #141414;
	}
}


