.questions{
    margin-top: 130px;
    width: 100%;
    background: linear-gradient(99.96deg, #48B3AB 3.79%, #06505D 90.24%);
    padding: 60px 0px;

    &__block-title{

        width: 100%;
        height: auto;
        font-weight: 600;
        font-size: 45px;
        line-height: 55px;
        display: flex;
        color: #F5F5F5;
  
    }
    &__accordionts{
        width: 100%;
        height: auto;
        background: #FFFFFF;
        border-radius: 5px;
    }
    &__accordionts2{
        width: 100%;
        height: auto;
        background: #FFFFFF;
        border-radius: 5px;
    }
    &__accordion-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 50px;
        margin-top: 30px;
    }
}

@media (max-width: 1200px) { 
    .questions{
        &__accordion-wrapper{
            display: flex;
            flex-direction: column;
        }
    }
   
}

@media (max-width: 500px){
    .questions{
        &__block-title{
            font-size: 35px;
        }
    }
}
 