.footer{
    width: 100%;
    height: auto;
    padding: 90px;

    &__block-inforvation{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__wrapper-block-links{
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-column-gap: 50px;
    }
    &__links{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__links-title{
        font-weight: 450;
        font-size: 23px;
        line-height: 55px;
    }
    &__link{
        font-weight: normal;
        font-size: 16px;
        margin-top: 5px;
        color: #484848;
        text-decoration: none; 
    }
    &__social{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__block-phone{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__social-icons{
        width: auto;
        display: grid;
        grid-template-columns: repeat(6,auto);
        grid-column-gap: 20px;
        margin-top: 26px;
    }
    &__phone{
        font-weight: 450;
        font-size: 24px;
        color: #484848;
    }
    &__block-phone-descrip{
        font-weight: normal;
        font-size: 18px;
        color: #9FA0A7;
    }
    &__playMarket{
        margin-top: 26px;
    }
    &__block-address{
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #9FA0A7;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 73px;
        span{
            text-align: end;
        }

    }
}

@media (max-width: 1100px) { 
    .footer{
        &__block-inforvation{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column; 
        }
        &__social{
            margin-top: 50px;
        }
    }
   
}

@media (max-width: 600px){
    .footer{
        &__wrapper-block-links{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        &__links{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        &__social-icons{
            display: flex;
            flex-wrap: wrap;
           
            img{
                margin-top: 5px;
            }
        }
    }
}

@media (max-width: 500px){
    .footer{
        padding: 5%;
    }
}