.how-it-works{
    width: 100%;
    height: auto;
    margin-top: 70px;
    &__block-title{
        width: 100%;
        text-align: left;
    }
    &__title{
        font-weight: 450;
        font-size: 36px;
        line-height: 55px;
        color: rgba(0, 0, 0, 0.9);
    }
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin-top: 50px;
    }
    &__block-column-item{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
    &__content{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        span{
            font-size: 26px;
            text-align: left;
        }
    }
}

@media (max-width: 1400px){
    .how-it-works{
        &__block-column-item{
            .icon{
                width: 200px;
            }
        }


    }
}

@media (max-width: 1200px){
    .how-it-works{
        &__wrapper{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            margin-top: 50px;
        }
        &__block-column-item{
            display: grid;
            grid-template-rows: repeat(2, 1fr);
        }
    }
}

@media (max-width: 700px){
    .how-it-works{
        &__wrapper{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            margin-top: 50px;
        }
        &__block-column-item{
            margin-top: 20px;
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            justify-content: center;
            img{
                margin-left: auto;
                margin-right: auto;
            }
        }
        &__block-column-item img:nth-of-type(1) {
            order: 4;
          }
        // &__block-column-item:nth-child(odd){

        // }
    }
}