.feedback-form {
    width: 100%;
    margin-top: 130px;
    height: auto;
    padding: 100px 0px;
    background: #02136a;

    &__inputs{
        border: 1px solid #4F4F4F;
        background: #FFF9F9
    }

    &__form-checkbox-block{
        position: relative;
    }
    &__wrapper {
        width: 100%;
        padding: 75px;
        background: #fff9f9;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__blockBtn{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .btn-submit {
        width: 307px;
        height: 57px;
        background: linear-gradient(180deg, #48b3ab 0%, #06505d 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        font-weight: normal;
        font-size: 28px;
        margin-top: 36px;
        margin-left: 0px;
        color: #f2f2f2;
    }
    &__title {
        font-size: 33px;
        line-height: 53px;
        text-align: center;
        color: #181717;
    }
    &__description {
        font-weight: normal;
        font-size: 28px;
        line-height: 53px;
        color: rgba(24, 23, 23, 0.75);
        margin: 20px 0px;
    }
    input[type="checkbox"] {
        margin-left: 10px;
        display: none;
    }

    label:before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: 17px;
        position: absolute;
        left: 0;
        bottom: 1px;
        background-color: white;
        border: 1px solid black;
        border-radius: 3px;
    }

    label {
        display: inline-block;
        cursor: pointer;
        padding-left: 40px;
        margin-right: 15px;
        font-size: 15px;
    }
    .checkbox label:before {
        border-radius: 3px;
    }
    input[type="checkbox"]:checked + label:before {
        content: "\2713";
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        font-size: 15px;
        color: black;
        text-align: center;
        line-height: 15px;
    }
}

@media (max-width: 500px) {
    .feedback-form{
        &__wrapper {
            padding: 20px;
        }
        &__title {
            font-size: 25px;
        }
        &__description {
            font-size: 18px;
        }
        .btn-submit {
            width: 100%;
            height: 57px;
            background: linear-gradient(180deg, #48b3ab 0%, #06505d 100%);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 3px;
            font-weight: normal;
            font-size: 28px;
            margin-top: 36px;
            color: #f2f2f2;
        }
        .input{
            input{
                font-size: 18px;
            }
         
        }
    }
}
