.wrapper{
    background: #F8F8F8;
    padding-top: 60px;
    padding-bottom: 100px;
}

.wrapperTitle{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

.content{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(224px, 1fr));
    grid-auto-rows: auto;
    column-gap: 1fr;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title{
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;

    color: #000000;
}

.subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;

    color: #404040;
}

@media (max-width: 1000px){
    .title{
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
    }

    .subtitle{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        /* or 125% */

        color: #404040;
    }
}

@media (max-width: 495px){
    .content{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-rows: 3;
        row-gap: 40px;
    }

}

