.container-custom{
    width: 100%;
    height: auto;
    padding: 0px 10%;
}

// @media screen and (min-width: 1440px) {
//     .container-custom{
//         max-width: 1440px;
//         height: auto;
//         margin: 0px 10%;
//     }
//   }

@media (max-width: 700px){
    .container-custom{

        padding: 0px 5%;
    }
}

