.header {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;

	width: 100%;
	height: 100px;
}

.wrapperHeader{
	width: 100%;
	height: auto;
	background: #EDF8F7;
}

.links a{
	cursor: pointer;
	text-decoration: none;
	margin: auto 0;
	color: var(--light-black) !important;

	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}

.aBusiness{
	color: var(--gray) !important;
	cursor: pointer;

	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}

.businessLogo{
	fill:#FFFFFF ;
}

.a {
	cursor: pointer;

	color: var(--light-black) !important;

	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}
