.about {
	width: 100%;
	height: auto;
	padding: 100px 0;

	background: var(--gray);
}

.wrapper {
	display: grid;

	width: 100%;
	height: auto;
	grid-template-columns: 1fr 1fr;
	column-gap: 100px;
}

.player {
	width: 100%;
	height: 433px;
}

.content {
	display: flex;
	align-items: flex-start;
	flex-direction: column;

	width: 100%;
	height: auto;
}

.bottomBlock {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;

	width: 100%;
	height: auto;

	margin-top: 50px;
}

.text {
	color: var(--light-black);

	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	white-space: pre-wrap;
}

.qr {
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 185px;

	width: auto;
	height: auto;
	
}

.qr img{
	width: 150px;
    height: 150px;
    box-shadow: 0px 0px 16px rgb(0 0 0 / 10%);
    border-radius: 16px;
}

.qrText {
	text-align: center;
	color: var(--light-black);
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	line-height: 18px;
	 word-wrap: break-word;
	 margin-bottom: 16px;
}

.btn {
	        text-transform: uppercase;
}

.btn:hover {
	color: var(--brich);
	z-index: 0;
	border: 1px solid var(--brich);
}
.btn span{
	transition: all 0.7s;
    z-index: -1;
}

.btn .first {
        content: "";
        position: absolute;
        right: 100%;
        top: 0;
        width: 25%;
        height: 100%;
        background: var(--gray);
      }

.btn:hover .first {
        top: 0;
        right: 0;
      }
.btn .second {
        content: "";
        position: absolute;
        left: 25%;
        top: -100%;
        height: 100%;
        width: 25%;
        background: var(--gray);
      }

.btn:hover .second {
    top: 0;
    left: 50%;
    }

.btn .third {
    content: "";
    position: absolute;
    left: 50%;
    height: 100%;
    top: 100%;
    width: 25%;
    background: var(--gray);
}

.btn:hover .third {
     top: 0;
     left: 25%;
    }

.btn .fourth {
	content: "";
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 25%;
    background: var(--gray);
    }

.btn:hover .fourth {
    top: 0;
    left: 0;
    }

.video {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title{
	margin-bottom: 40px;
}

@media (max-width: 1100px) {
	.bottomBlock {
		display: none;
	}

	.wrapper {
		column-gap: 20px;
	}

	.player {
		width: 100%;
		height: 413px;
	}
}

@media (max-width: 700px) {
	.wrapper {
		display: grid;
		grid-template-columns: 1fr;
	}
}

@media (max-width: 500px) {
	.player {
		width: 100%;
		height: 213px;
	}

	.blockTitle{
		text-align: center;
		width: 100%;
	}

	.text {
		color: var(--light-black);

		font-size: 16px;
		font-weight: normal;
		font-style: normal;
	}
}
