.question {
    padding: 1rem 1.5rem;
    border: 2px solid var(--clr-grey-special);
    margin-bottom: 1rem;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    background: #fff;
    border-radius: 5px;
    
    &__content{
      text-align: left;
      white-space: pre-wrap;
    }

    &__block-title{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        height: auto;
        max-width: 83%;
        svg {
            margin-right: 20px;
        }
    }
  }
  .question h4 {
    text-transform: none;
    line-height: 1.5;
  }
  .question p {
    color: var(--clr-grey-3);
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
  .question header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .question header h4 {
    margin-bottom: 0;
    font-style: normal;
    font-weight: 450;
    font-size: 22px;
    line-height: 25px;
    color: #1E1D1D;
  }
  .btn {
    background: transparent;
    border-color: transparent;
    width: 2rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: var(--clr-grey-special);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--clr-red-special);
    cursor: pointer;
    margin-left: 1rem;
    outline: none;
    align-self: center;
    min-width: 2rem;
  }

  .question-title {
    cursor: pointer;
    text-align: left;
  }



  @media (max-width: 500px){
    .question header h4 {
      font-size: 16px;
    }
  }