.brend-kg {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__wrapper-img {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        img {
            width: 135px;
        }
    }
    &__title {
        font-style: normal;
        font-weight: normal;
        font-size: 27px;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.85);
        margin-bottom: 15px;
    }
}

@media (max-width: 500px) {
    .brend-kg {
        &__title {
            font-size: 25px;
        }
    }
}
