.youtube{
    margin-top: 200px;

    &__wrapper{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 50px;
    }

    &__content{
        font-weight: 600;
        font-size: 36px;
        line-height: 53px;
        color: #202020;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    &__block-video{
        width: 100%;
        height: 100%;
        div:first-child{
            height: 100%;
        }
    }

    &__video{
        height: 100%;
    }
}

@media (max-width: 1400px) { 
    .youtube{
        &__content{
            font-size: 25px;
        }
    }
}

@media (max-width: 1200px) { 
    .youtube{
        &__wrapper{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;

        }
        &__content{
            font-size: 25px;
        }
        &__block-video{
            margin-top: 50px;
            height: 345px;
            div:first-child{
                height: 100%;
            }
        }
        &__content{
            font-weight: 600;
            font-size: 36px;
        }
    }
}

@media (max-width: 600px){
    .youtube{
        &__content{
            font-size: 20px;
        }
        &__block-video{
            height: auto;
        }
    }
}
 