

.tags {
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
	flex-direction: row;
	        -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none;

	width: 100%;
	height: auto;
}

.tag {
	box-sizing: border-box;
	width: auto;
	margin-right: 24px;
	padding: 12px 24px;

	cursor: pointer;
	white-space: nowrap;

	color: var(--light-black);
	border: 1px solid #C8C8C8;
	border-radius: 40px;
	background: #FFF;

	font-size: 20px;
	font-weight: normal;

	font-style: normal;
	line-height: 24px;

	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;  
}

.wrapper {
	display: inline-grid;

	width: 100%;
	height: auto;
	margin-top: 40px;

	background-color: #E1E1E1;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	grid-auto-rows: 160px;

	grid-gap: 1px;
}

.wrapper div {
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: white;
}

.title{
	margin-bottom: 40px;
}

@media (max-width: 1200px) {
	.wrapper {
		grid-template-columns: repeat(2, 1fr);
	}


}

@media(max-width: 800px){
	.BuyfromCash2u {
		margin-top: 20px;
	}
}

@media (max-width: 500px) {
	.card img {
		width: 100px;
	}

	.title{
		text-align: center;
	}

	.tag {
		font-size: 16px;
	}
}
