.questions {
	padding: 100px 0;
}

.titleBlock {
	width: 100%;
	height: auto;

	text-align: left;
}

.content {
	display: grid;

	width: 100%;
	height: auto;
	grid-template-columns: 1fr 1fr;
	column-gap: 25px;
}

.title{
	margin-bottom: 40px;
}

@media (max-width: 700px) {
	.content {
		grid-template-columns: 1fr;
	}
}

@media(max-width: 500px){
	.title{
		text-align: center;
	}
}