html,
body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;

	font-family: var(--bs-font-sans-serif);
}

/* @font-face {
  font-family: 'Segoe UI1';
  src: url(../fonts/SegoeUI.ttf) format("truetype");
} */

::-webkit-scrollbar { /* chrome based */
	width: 0;  /* ширина scrollbar'a */

	/* опционально */
}

:root {
	--brich: #48B3AB;
	--white: #EFEFEF;
	--black: #000;
	--light-black: #404040;
	--dark-primary: #02136A;
	--gray: #F8F8F8;
}

html {
	-ms-overflow-style: none;  /* IE 10+ */
	scrollbar-width: none; /* Firefox */
}


