
.header{
    .navbar{
        width: 100% !important;

    }
    .nav-link{
   padding-bottom: 0px !important;
    }
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10%;

    &__a {
         text-decoration: none !important;
     }
     .navbar-nav{
         align-items: center !important;
     }
    .nav-content{
     align-items: flex-end;
     margin-top: auto;
    }
    &__logo{
        height: 100%;
    }
    &__content{
        display: flex;
        flex-direction: row;
        align-items:flex-end;
        a{
            text-decoration: none;
            color: #48B3AB;
            margin-left: 30px;
            cursor: pointer;
            font-size: 16px;
            font-weight: 450;

     
        }
    }
    &__block-get-credit{
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: row;
       align-items: flex-end;
    }
    &__become{
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: row;
       align-items: flex-end;
    }
    &__get-credit{
        padding: 6px 19px;
        margin-bottom: -2px;
        height: auto;
        width: auto;
        border-radius: 25px;
        font-size: 16px;
        line-height: 25px;
        color: rgba(23, 23, 23, 0.9);
        background: #fff;
        border: 1px solid #48B3AB;
        margin-left: 20px;
    }
    &__lang{
        color: rgba(23, 23, 23, 0.9);
        font-weight: 450;
        font-size: 16px;
        line-height: 25px;
        cursor: pointer;
    }
    &__switch-lang{
        width: 52px;
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between !important;
        align-items: flex-end !important;
    }
    &__lang-active{
        text-decoration: underline;
        color:#48B3AB;
    }
    .navbar-light .navbar-nav .nav-link{
            color: var(--light-black) !important;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            cursor: pointer;
    }
    .me-auto{
        margin-left: auto !important;
        margin-right: auto !important;
        a{
            color: var(--light-black) !important;
            font-weight: 600;
            font-size: 16px !important;
            line-height: 24px;
            cursor: pointer;
        }
        a:focus,
        a:hover,
        a:active{
            text-decoration-line: underline;
            color: rgba(72, 179, 171, 1) !important;
        }
    }
}
