.wrapper{
    background: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 100px;
}

.wrapperTitle{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content{
    width: 100%;
    height: auto;
    margin-top: 40px;
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(312px, 1fr));
 
    grid-gap: 24px;
}

.card{
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(2,auto);
    row-gap: 16px;
    border: 1px solid #C8C8C8;
    border-radius: 16px;
}

@media (max-width: 1020px){
    .card{
        padding: 20px;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 56px auto;
        row-gap: 0px;
        column-gap: 16px;
        border: 1px solid #C8C8C8;
        border-radius: 16px;
    }
    .card span{
        min-height: auto;
    }
}

@media (max-width: 400px){
    .content{
        grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
    }
}