
.docPage {
	display: flex;
	align-items: center;
	flex-direction: column;

	width: 100%;
	margin-top: 150px;
	margin-bottom: 150px;
}

.content {
	max-width: 794px;
}

@media (max-width: 1000px) {
	.docPage {
		display: flex;
		align-items: center;
		flex-direction: column;

		width: 100%;
	}

	.content {
		max-width: 90%;
	}
}
