.formBlock {
	width: 100%;
	height: auto;
	margin-top: 100px;
	padding: 60px 0;

	background: var(--dark-primary);
}

.form {
	display: grid;

	width: auto;
	height: 56px;
	margin-top: 20px;
	grid-template-columns: 1fr 220px;
	column-gap: 20px;
}

.desc {
	color: #FFF;

	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	line-height: 28px;
}

.form input {
	box-sizing: border-box;
	padding: 16px 20px;

	color: #919191;

	border: 1px solid #C8C8C8;
	border-radius: 8px;

	background: #FFF;

	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	line-height: 24px;
}

.checkboxBlockResponsive {
	display: none;
}

.btn {
	color: var(--dark-primary);
	border: 1px solid #FFD335;
	border-radius: 8px;
	height: 58px;
	background: #FFD335;
	position: relative;
	font-size: 20px;
	font-weight: 600;
	font-style: normal;
	line-height: 24px;
	 cursor: pointer;
 	transition: all 0.7s;
	overflow: hidden;
}

.btn:hover {
	color: #FFD335;
	z-index: 0;
	border: 2px solid #FFD335;
}
.btn span{
	transition: all 0.7s;
    z-index: -1;
}

.btn .first {
        content: "";
        position: absolute;
        right: 100%;
        top: 0;
        width: 25%;
        height: 100%;
        background:  #FFF;
      }

.btn:hover .first {
        top: 0;
        right: 0;
      }
.btn .second {
        content: "";
        position: absolute;
        left: 25%;
        top: -100%;
        height: 100%;
        width: 25%;
        background:#FFF;
      }

.btn:hover .second {
    top: 0;
    left: 50%;
    }

.btn .third {
    content: "";
    position: absolute;
    left: 50%;
    height: 100%;
    top: 100%;
    width: 25%;
    background: #FFF;
}

.btn:hover .third {
     top: 0;
     left: 25%;
    }

.btn .fourth {
	content: "";
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 25%;
    background: #FFF;
    }

.btn:hover .fourth {
    top: 0;
    left: 0;
    }

.checkboxBlock {
	margin-top: 10px;
}

.checkboxBlock span {
	color: #F8F8F8;

	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	line-height: 16px;
}

.title{
	margin-bottom: 24px;
}

@media(max-width: 800px){
	.formBlock {
		margin-top: 40px;
	}
}

@media (max-width: 650px) {
	.form {
		display: grid;

		width: 100%;
		height: auto;
		margin-top: 20px;
		grid-template-columns: 1fr;
		grid-auto-rows: 40px auto 40px;
		row-gap: 16px;
		column-gap: 20px;
	}
	
	.form button {
		height: 44px;
	}

	.checkboxBlock {
		display: none;
	}

	.checkboxBlockResponsive {
		display: block;

		margin-top: 10px;
	}

	.checkboxBlockResponsive span {
		color: #F8F8F8;

		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		line-height: 16px;
	}
}

@media (max-width: 400px) {
	.checkboxBlockResponsive span {
		font-size: 12px;
	}

	.desc {
		font-size: 14px;
	}
	.form input{
		width: 100%;
		font-size: 16px;
	}
}
